<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="formProject.Properties.Settings.BusBook_DBConnStr"
            connectionString="Data Source=DESKTOP-R4I1EGE\SQLEXPRESS;Initial Catalog=BusBook_DB;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="formProject.Properties.Settings.busticketdbConnectionString"
            connectionString="Data Source=DESKTOP-5QOGEHT\SQLEXPRESS;Initial Catalog=busticketdb;Integrated Security=True;Pooling=False;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>